@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;

400;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  width: 70%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header #logo {
  width: 70px;
}

.header nav {
  width: 100%;
}

.header ul {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.header .listItems {
  width: 9.0909090909%;
  list-style: none;
  font-size: 12px;
  font-weight: 700;
  padding: 50px 0px;
  border-bottom: 5px solid rgba(12, 124, 236, 0);
  text-align: center;
}

.header .listItems:hover,
.header .listItems:active {
  border-bottom: 5px solid #0c7cec;
}

#contentJ {
  align-items: center;
  background-color: #1c1c1c;
}

.footer #leftBox {
  display: flex;
  align-items: flex-start;
  color: white;
  gap: 35px;
}

.footer #list {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#rightBox {
  width: 550px;
  height: 370px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer h4 {
  margin-top: 50px;
}

.footer .row {
  margin-bottom: 50px;
}

.footer nav {
  margin-top: 10px;
}

.footer ul {
  display: flex;
  flex-direction: column;
}

.footer a {
  list-style: none;
  color: gray;
  font-size: 12px;
  padding: 2px 0px;
}

#footer {
  background-color: #303030;
  padding: 20px 0px;
}

#bottonText {
  color: white;
  border: 3px solid #0c7cec;
  font-size: 15px;
  font-weight: 400;
  padding: 6px 10px;
}

#socialText {
  color: #0c7cec;
  font-size: 15px;
  font-weight: 700;
}

#socialBox {
  display: flex;
  gap: 15px;
  align-items: center;
}

.socialImg {
  width: 30px;
}

.comicsBox {
  background-color: #1c1c1c;
  padding: 10px 0px;
}

#load {
  justify-content: center;
  padding: 15px 0px;
  position: relative;
}

#load2 {
  justify-content: center;
  padding: 15px 0px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.loadButton {
  color: white;
  background-color: #0c7cec;
  padding: 8px 55px;
  border: none;
}

.serieButton {
  color: white;
  background-color: #0c7cec;
  padding: 8px 25px;
  border: none;
  position: absolute;
  left: 0;
  top: -33px;
}

.serieButton h4 {
  font-size: 25px;
}

#points {
  padding: 40px 0px;
  align-items: center;
  background-color: #0c7cec;
}

#points .card {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#points .linkText {
  font-size: 13px;
  color: white;
}

#points .imgPoints {
  width: 39px;
}

#points .card:nth-child(1) .imgPoints {
  width: 32px;
}

#points .card:nth-child(4) .imgPoints {
  width: 22px;
}

h2 {
  font-size: 22px;
  color: white;
}

.comics {
  width: 16.6666666667%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: flex-start;
}

.imgCard {
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

h6 {
  color: white;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 10px;
}

.containerComic {
  width: 60%;
  margin: 0 auto;
}

.stripe {
  background-color: #0c7cec;
  width: 100%;
  height: 70px;
  position: relative;
}

.stripe .imgComic {
  width: 130px;
  position: absolute;
  top: -150px;
}

.infoBox {
  width: 60%;
  margin: 0 auto;
  position: relative;
  padding: 60px 0px;
}

.infoBox .leftInfo {
  width: 70%;
}

.infoBox .leftInfo h2 {
  color: black;
  padding-bottom: 20px;
  text-transform: uppercase;
}

